body {
    background: url("assests/texture.jpeg");
    
}

.center-item {
    text-align: center;
    margin-top: 25%;
    width: 100%;
}

.center-item > h1 {
    margin-bottom: 30px;
}

.group-id {
    color: rgb(219, 68, 68);
}
